[
  {
    "id": "kF643xZ6lToMuekg",
    "name": "Postgres account",
    "type": "postgres",
    "data": {
      "host": "{{ postgres_host }}",
      "database": "{{ agent_db.name }}",
      "user": "{{ agent_db.user }}",
      "password": "{{ agent_db.password }}",
      "port": {{ postgres_port }},
      "ssl": "disable"
    }
  },
  {
    "id": "tSXCUNSIyymDwWym",
    "name": "Ollama account",
    "type": "ollamaApi",
    "data": { "baseUrl": "http://ollama:11434" }
  }
]
