N8N_DB_USER=n8n
N8N_DB_PASS=n8n-pass
N8N_DB_NAME=n8n
N8N_ENCRYPTION_KEY=008b33708625a05b2fb622937b0344ec821f7152037df4d6b43eb2a7cd79b0e7
N8N_TZ=Europe/Bratislava
N8N_VERSION=2.28.2
N8N_WORKFLOW_ID=4dDXXTSQZT5Ugq5f
N8N_OWNER_MANAGED_BY_ENV=true
N8N_OWNER_EMAIL=admin@admin.com
N8N_OWNER_FIRST_NAME=admin
N8N_OWNER_LAST_NAME=adminov
N8N_OWNER_PASSWORD=adminpass


WIKIJS_DB_USER=wikijs
WIKIJS_DB_PASS=wikijs-pass
WIKIJS_DB_NAME=wikijs
WIKIJS_ADMIN_EMAIL=admin@admin.com
WIKIJS_ADMIN_PASS=adminpass
WIKIJS_SITE_URL=http://localhost:3000

AGENT_DB_USER=agent
AGENT_DB_PASS=agent-pass
AGENT_DB_NAME=agent_memory

OLLAMA_MODELS=gemma2:2b
OLLAMA_VERSION=0.30.11
