[defaults]
inventory           = ./inventory/vagrant.py
roles_path          = roles
host_key_checking   = False
interpreter_python  = auto_silent
vault_password_file = .vault_pass
result_format = yaml
pretty_results = true     # multiline strings shown as literal blocks (nicer tracebacks)
callbacks_enabled = ansible.builtin.profile_tasks
nocows              = True
force_handlers = True
[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
